.sceneWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .sceneRightWrapper {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
  }
}
